body { 
    font-family: Arial, Helvetica, sans-serif;
	max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
    padding: 25px;
    line-height: 1.4;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: white;
    padding: 5px 5px;
    text-align: center; 
    font-size: 14px;
    color: black; 
    border: 2px solid #101010;;
  }
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td,th {
    
    border: 1px solid #ddd;
    padding: 8px;
  }
  
tr{
    background-color: #f2f2f2;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:#212121;
    color: white;

  }

.dark-mode th {
    background-color: #555;
}
.dark-mode tr {
    background-color:#212121 ;
}



button:hover {
    background-color:black;
    color: white;
}

.dark-mode {
    background-color: #101010;
    color: #fff;
}

.dark-mode a:visited { color:#d9b3ff;
}
.dark-mode a:active { color:#6699ff;
}
.dark-mode a{ color:#6699ff;
}
.dark-mode a:hover { color:#99ccff;
}

.dark-mode button {
    background-color: black;
    padding: 5px 5px;
    text-align: center; 
    font-size: 14px;
    color: white; 
    border: 2px solid white;
  }
  .dark-mode button:hover {
    background-color:white;
    color: black;
}