body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    position: relative;
    max-width: auto;
    width:auto;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.containerL {
    position: relative;
    width: 75%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    float:left;
    min-height: 800px;
}

.expanded {
    width: 100%;
}

#expandContainerBtn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}
#openInfo{
    background-color: #007bff;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-container,
.display-container {
    padding: 20px;
    box-sizing: border-box;
}

.input-container {
    border-right: 1px solid #ccc;
}

#rightbox{
    float:right;
    width:25%;
    min-height: 500px;
}

form label,
.sorting-options label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
.sorting-options select {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #007bff;
    width: 40%;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.display-container {
    overflow-y: auto;
}

.data-item {
    width: 80%;
    border: 2px solid #ccc;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

#topRankings {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .top-ranking {
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
    text-align: center;
  }
  
  .top-ranking:nth-child(2) {
    margin: 0 10px;
  }
  
  .top-ranking strong {
    font-size: 1.2em;
    display: block;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
